<div id="influence">
  <p>
    Thanks to all of you interested in my projects. 
    Follow me or star this repos to add yourself to the community.
  </p>

  <details>
  <summary>Community ({{ supporter_count }})</summary>
  <div>&nbsp;</div>
  <div id="supporters">
{% for supporter in supporters %}<a href="https://github.com/{{ supporter }}">{{ supporter }}</a> {% endfor %}
  </div>
  </details>

  <img alt="GitHub Followers" src="https://img.shields.io/github/followers/j12y?label=Follow&style=social">
  <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/j12y/j12y?label=Star&style=social">
</div>