
{% include 'writing' %}

{% include 'contact' %}

{% include 'stack' %}


<div>&nbsp;</div>

<details align="center">
  <summary align="center">Statistics</summary>
    <div>&nbsp;</div>
    <div>
    <p>Followers: {{ followers }}</p>
    <p>Repos: {{ public_repos }}</p>
    </div>

<img alt="Last commit" src="https://img.shields.io/github/last-commit/j12y/j12y?label=Last%20updated:&style=social&color=black&labelColor=black">
</details>



*Last Updated: {{ generated }}*

