<div id="stack" align="center">
  <a href="https://github.com/j12y?tab=repositories&q=&type=&language=javascript&sort=" target="_blank"><img src="https://img.shields.io/badge/JavaScript-000000?logo=javascript&logoColor=F7DF1E" alt="JavaScript" title="JavaScript" height="25" /></a>
    &nbsp; &nbsp;
  <img src="https://img.shields.io/badge/TypeScript-000000?logo=typescript&logoColor=3178C6" alt="TypeScript" title="TypeScript" height="25" />
    &nbsp; &nbsp;
  <img src="https://img.shields.io/badge/Node.js-000000?logo=node.js&logoColor=339933" alt="Node.js" title="Node.js" height="25" />
    &nbsp; &nbsp;
  <img src="https://img.shields.io/badge/React Native-000000?logo=react&logoColor=61DAFB" alt="React Native" title="React Native" height="25" />
    &nbsp; &nbsp;
  <a href="https://github.com/j12y?tab=repositories&q=&type=&language=python&sort=" target="_blank"><img src="https://img.shields.io/badge/Python-000000?logo=python&logoColor=4B8BBE" alt="Python" title="Python" height="25" /></a>
</div>
